{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <title>{% block title %}Vaults | Cryptkeeper{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="layout">
        <div class="container-sidebar">
            <div class="sidebar-logo">
                Cryptkepper
            </div>
            <div class="menu-item">
                <a class="menu-toggle {% if request.resolver_match.view_name == 'vault' %}active{% endif %}">
                    <img src="{% static 'icons/vault.svg' %}" alt="">
                    <span class="page-name">Vaults <img src="{% static 'icons/arrow.svg' %}" class="arrow-icon" alt=""></span>
                </a>
                <ul class="submenu">
                    {% for vault in vaults %}
                        <li>
                            <a href="{% url 'index' vault.id %}">{{ vault.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <a href="{% url 'vault_list' %}">
                <img src="{% static 'icons/vault_setting.svg' %}" alt="">
                <span class="page-name">Vaults Setting</span>
            </a>       
            <a href="{% url 'password_settings' %}">
                <img src="{% static 'icons/password-setting.svg' %}" alt="">
                <span class="page-name">Password Setting</span>
            </a>
            <div class="sidebar-footer">
                <div class="divider"></div>
                <a href="">
                    <img src="{% static 'icons/account.svg' %}" alt="">
                    <span class="page-name">Account Settings</span>
                </a>
                <a href="{% url 'logout' %}">
                    <img src="{% static 'icons/logout.svg' %}" alt="">
                    <span class="page-name">Logout</span>
                </a>
            </div>
        </div>
        <div class="app">
            <header class="navbar bg-white">
                <span> {{ user.name }} </span>
            </header>
            <div class="content">
                {% block content %}
                
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/dashboard/dashboard.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
