.register-container {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.form-register {
    background-color: white;
    box-shadow: 4px 4px 4px #0000;
    border-radius: 16px;

    padding: 24px;

    width: 480px;
    max-width: 90vw;
}

.welcome {
    text-align: center;
}

.welcome p {
    margin-top: 10px;
    
    color: #333;
}

.input-container {
    position: relative;	
    display: flex;
    align-items: center;
}

.input-container input {
    width: 100%;
}

.input-container .icon {
    position: absolute;
    right: 20px;
    cursor: pointer; 
    width: 20px;
    height: 20px;
}

.button-container {
    margin-top: 24px;

    display: flex;
    flex-direction: column;
}

.signup {
    margin-top: 24px;
    text-align: center;

    font-size: 14px;
}

.signup label {
    opacity: 0.5;
}

.signup a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.form-input label span {
    font-size: 12px;
}

@media screen and (max-width: 540px) {
    .form-register {
        width: 350px;
    }

    .between {
        flex-direction: column;
    }
}