<div id="modal-create-credential" class="modal-window">
    <div class="modal-content">
        <a href="#" title="Close" class="modal-close" onclick="closeModal('modal-create-credential')"></a>
        <h3>Create credential</h3>
        
        <form id="form-create-credential" method="POST" autocomplete="off">
            {% csrf_token %}
            <div>
                <div>
                    <div class="form-input">
                        <label for="name">Name <span>(required)</span></label>
                        <input class="input" type="text" name="name" id="name">
                        <div class="error" id="nameError"></div>
                    </div>
                </div>
        
                <div class="between gap">
                    <div class="form-input">
                        <label for="username">Username <span>(required)</span></label>
                        <div class="input-group">
                            <input class="input" type="text" name="username" id="username" style="border-radius: 8px 0px 0px 8px;">
                            <button onclick="copyInput('username', 'Username copied successfully!')" type="button" class="input-btn">
                                <img src="/static/icons/copy.svg">
                            </button>
                        </div>
                        <div class="error" id="usernameError"></div>
                    </div>
                    <div class="form-input">
                        <div class="between">
                            <label for="password">Password <span>(required)</span></label>
                            <a onclick="randomPassword(12, 'password')" style="cursor: pointer;">
                                <img src="/static/icons/refresh.svg">
                            </a>
                        </div>
                        <div class="input-group">
                            <input class="input" type="password" name="password" id="password" style="border-radius: 8px 0px 0px 8px;">
                            <button onclick="seePassword('togglePassword', 'password')" type="button" class="input-btn" style="border-radius: 0px 0px 0px 0px;">
                                <img src="/static/icons/eye.svg" id="togglePassword">
                            </button>
                            <button onclick="copyInput('password', 'Text copied successfully!')" type="button" class="input-btn">
                                <img src="/static/icons/copy.svg">
                            </button>
                        </div>
                        <div class="error" id="passwordError"></div>
                    </div>
                </div>
        
                <div>
                    <div class="form-input">
                        <label for="url">Url</label>
                        <input class="input" type="text" name="url" id="url" placeholder="ex. https://google.com">
                        <div class="error" id="urlError"></div>
                    </div>
                </div>
        
                <div>
                    <div class="form-input">
                        <label for="description">Description</label>
                        <textarea class="input textarea" name="description" id="description"></textarea>
                    </div>
                </div>
            </div>
        
            <hr class="modal-line">
        
            <div class="modal-footer">
                <div class="flex" style="justify-content: flex-start; width: 100%;">
                    <button class="btn-save" id="createCredential" type="button">Save</button>
                    <button class="btn-cancel" type="button" onclick="closeModal('modal-create-credential')">Cancel</button>
                </div>
            </div>
        </form>

    </div>
</div>