<div id="modal-view-credential" class="modal-window">
    <div class="modal-content">
        <a href="#" title="Close" class="modal-close" onclick="closeModal('modal-view-credential')"></a>
        <h3>Credential</h3>

        <input type="hidden" id="credentialId">
        
        <form id="form-view-credential" method="POST" autocomplete="off">
            {% csrf_token %}
            <div>
                <div>
                    <div class="form-input">
                        <label for="name">Name <span>(required)</span></label>
                        <input class="input" type="text" name="name" id="name-view">
                        <div class="error" id="nameError-view"></div>
                    </div>
                </div>
        
                <div class="between gap">
                    <div class="form-input">
                        <label for="username">Username <span>(required)</span></label>
                        <div class="input-group">
                            <input class="input" type="text" name="username" id="username-view" style="border-radius: 8px 0px 0px 8px;">
                            <button onclick="copyInput('username-view', 'Username copied successfully!')" type="button" class="input-btn">
                                <img src="/static/icons/copy.svg">
                            </button>
                        </div>
                        <div class="error" id="usernameError-view"></div>
                    </div>
                    <div class="form-input">
                        <div class="between">
                            <label for="password">Password <span>(required)</span></label>
                            <a onclick="randomPassword(12, 'password-view')" style="cursor: pointer;">
                                <img src="/static/icons/refresh.svg">
                            </a>
                        </div>
                        <div class="input-group">
                            <input class="input" type="password" name="password" id="password-view" style="border-radius: 8px 0px 0px 8px;">
                            <button onclick="seePassword('togglePasswordView', 'password-view')" type="button" class="input-btn" style="border-radius: 0px 0px 0px 0px;">
                                <img src="/static/icons/eye.svg" id="togglePasswordView">
                            </button>
                            <button onclick="copyInput('password-view', 'Password copied successfully!')" type="button" class="input-btn">
                                <img src="/static/icons/copy.svg">
                            </button>
                        </div>
                        <div class="error" id="passwordError-view"></div>
                    </div>
                </div>
        
                <div>
                    <div class="form-input">
                        <label for="url">Url</label>
                        <div class="input-group">
                            <input class="input" type="text" name="url" id="url-view" placeholder="ex. https://google.com" style="border-radius: 8px 0px 0px 8px; width: 100%;">
                            <button onclick="launch('url-view')" type="button" class="input-btn" style="border-radius: 0px 0px 0px 0px;">
                                <img src="/static/icons/launch.svg">
                            </button>
                            <button onclick="copyInput('url-view', 'Url copied successfully!')" type="button" class="input-btn">
                                <img src="/static/icons/copy.svg">
                            </button>
                        </div>
                        <div class="error" id="urlError-view"></div>
                    </div>
                </div>
        
                <div>
                    <div class="form-input">
                        <label for="description">Description</label>
                        <textarea class="input textarea" name="description" id="description-view"></textarea>
                    </div>
                </div>
            </div>
        
            <hr class="modal-line">
        
            <div class="modal-footer">
                <div class="flex" style="justify-content: flex-start; width: 100%;">
                    <button class="btn-save" id="updateCredential" type="button">Save</button>
                    <button class="btn-cancel" type="button" onclick="closeModal('modal-view-credential')">Cancel</button>
                </div>
                <button class="btn-delete" type="button" id="deleteCredential">Delete</button>
            </div>
        </form>

    </div>
</div>