
{% extends 'layouts/dashboard.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/password_settings.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/getCookie.js' %}"></script>
{% endblock %}


{% block content %}
    <h1>
        Password Settings
    </h1>

    <div class="form-container">
        <form action="{% url 'password_settings' %}" method="POST">
            {% csrf_token %}
            <div style="width: 350px; max-width: 90vw;">
                <div class="form-input">
                    <label for="length">Password lenght <span>(required)</span></label>
                    <input class="input {% if form.length.errors %}input-error{% endif %}" 
                            type="number" name="length" id="length"
                            min="8"
                            required
                            value="{{ form.length.value }}">
                    {% if form.length.errors %}
                        {% for error in form.length.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="checkbox-group">
                    <div class="checkbox-item">
                        <label for="uppercase">Uppercase letters</label>
                        <input type="checkbox" name="uppercase" id="uppercase" {% if form.uppercase.value %}checked{% endif %}>
                    </div>
                    <div class="checkbox-item">
                        <label for="lowercase">Lowercase letters</label>
                        <input type="checkbox" name="lowercase" id="lowercase" {% if form.lowercase.value %}checked{% endif %}>
                    </div>
                    <div class="checkbox-item">
                        <label for="numbers">Numbers</label>
                        <input type="checkbox" name="numbers" id="numbers" {% if form.numbers.value %}checked{% endif %}>
                    </div>
                    <div class="checkbox-item">
                        <label for="special_chars">Special characters</label>
                        <input type="checkbox" name="special_chars" id="special_chars" {% if form.special_characters.value %}checked{% endif %}>
                    </div>
                </div>
                <div class="button-group">
                    <button type="submit" class="btn">Save</button>
                </div>                
            </div>
        </form>
    </div>
{% endblock %}