
{% extends 'layouts/base-auth.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/auth/login.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="login-container">
        <div class="form-login">
            <div class="welcome">
                <h2>Sign In</h2>
                <p>Welcome back! Please enter your detalls</p>
            </div>
            
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-input">
                    <label for="username">Email</label>
                    <input class="input" type="email" name="username" id="username" placeholder="Enter your email">
                </div>
                <div class="form-input">
                    <label for="password">Password</label>
                    <div class="input-container">
                        <input class="input" type="password" name="password" id="password" placeholder="• • • • • • •">
                        <img src="{% static 'icons/eye-off.svg' %}" alt="Toggle visibility" class="icon">
                    </div>
                </div>

                <div class="button-container">
                    <button class="btn" type="submit">Sing In</button>
                </div>
            </form>

            <div class="signup">
                <label>Don't have an account? </label><a href="{% url 'register' %}">Sign up</a>
            </div>
        </div>
    </div>

{% endblock %}