.vault-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.select {
    width: 200px;
}


@media screen and (max-width: 540px) {
    .between {
        flex-direction: column;
    }

    .select {
        width: 100%;
    }
}