
{% extends 'layouts/dashboard.html' %}
{% load static %}

{% block extra_head %}
    
{% endblock %}

{% block extra_js %}
    
{% endblock %}


{% block content %}
    <h1 class="between">
        Update Vault - {{ vault.name }}
    </h1>

    <div class="form-container">
        <form action="{% url 'vault_edit' pk=vault.pk %}" method="POST">
            {% csrf_token %}
            <div style="width: 350px; max-width: 90vw;">
                <div class="form-input">
                    <label for="name">Name <span>(required)</span></label>
                    <input class="input {% if form.name.errors %}input-error{% endif %}" 
                            type="text" name="name" id="name" 
                            placeholder="What should we call you?" value="{{ form.name.value|default:'' }}">
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div style="margin-top: 24px;">
                    <button type="submit" class="btn">Save</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}